[Unit]
Description=Reformat mails from XING & Co
After=network-online.target
Requires=network-online.target

[Service]
WorkingDirectory=/home/pi/ReMailer
ExecStart=/usr/local/bin/pipenv run python /home/pi/ReMailer/main.py

[Install]
WantedBy=multi-user.target
